body {
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
    background: #222 none;
    color: #222;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
}

header div {
    float: right;
    display: flex;
    color: seashell;
    justify-content: space-between;
    width: 30%;
    
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    background: #f9f9f9 none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid h1 {
    grid-row: 1 / 1;
    grid-column: 2 / span 3;
}

.grid #useful-links {
    grid-row: 2 / 9;
    grid-column: 1 / 3;
    padding-left: 10px;
}

.grid #map {
    grid-row: 2 / 9;
    grid-column: 3 / 6;
    /* justify-content: stretch; */
}

.grid #mapTwo {
    grid-row: 2 / 9;
    grid-column: 3 / 6;
    /* justify-content: stretch; */
}

#chult-map-player{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 3px;
    z-index: -1;
    opacity: 1;
}

#chult-map-dm {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 3px;
    opacity: 0;
    z-index: 1;
}

table a {
    color: #704cd9;
}

.logo {
    text-indent: -9999px;
    background-image: url(https://www.dndbeyond.com/content/1-0-1592-0/skins/waterdeep/images/dnd-beyond-logo.svg);
    background-size: 100% 100%;
    height: 40px!important;
    width: 150px!important;
    margin: 0!important;
    display: inline-block;
    padding-left: 10px;
}
  
.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}
  
.color-container {
    width: 100%;
}
  
.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto',Helvetica,sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 .2em;
    letter-spacing: 0;
    text-transform: normal;
    word-wrap: break-word;
}

h1 {
    font-size: 32px;
    font-weight: normal;
}

h1::after {
    content: '';
    width: 100%;
    max-width: 1200px;
    margin: 5px auto 20px;
    height: 3px;
    background-color: #47D18C;
    display: block;
}

h2 {
    font-size: 26px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

h2::after, h3::after {
    content: '';
    width: 100%;
    margin: 5px auto 20px;
    height: 1px;
    background-color: #47D18C;
    display: block;
}

h4 {
    font-size: 16.8px;
    font-weight: 700;
}
  
.dnd-red {
    background-color: #bc0f0f;
    color: #fff;
}
  
.dnd-black {
    background-color: #040404;
    color: #fff;
}

.dnd-mint {
    background-color: #47D18C;
    color: #fff;
}

.dnd-purple {
    background-color: #704cd9;
    color: #fff;
}
  
.font-panel {
    width: 45%;
    display: inline-block;
}
  
.font-label {
    font-size: 20px;
    text-decoration: underline;
}
  
.regular {
    font-style: normal;
}
  
  .italic {
    font-style: italic;
  }
  
.bold {
    font-weight: 700;
}
  
.roboto {
    font-family: 'Roboto', sans-serif;
}
  
.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}
  
.poppins {
    font-family: 'Poppins', sans-serif;
}
  
.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}
  
.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
  
.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

table {
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto',Helvetica,sans-serif;
    color: var(--theme-page-fg-color,#000)!important;
    word-wrap: break-word;
    line-height: 30px;
    font-size: 16px;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: white;
    border: 1px solid #EDEAE8;
    table-layout: auto;
}

table tbody tr:nth-child(odd) {
    background-color: #FAF8F7;
}

table tbody tr:nth-child(odd) {
    background: #faf8f7;
}

table thead {
    border-bottom: 3px solid #d0cac5;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    border: 1px solid #edeae8;
}